<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="/contactRemoteService"
          class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service">
            <ref bean="contactService"/>
        </property>
        <property name="serviceInterface">
            <value>cn.com.do1.component.contact.contact.service.IContactMgrService</value>
        </property>
    </bean>

    <bean name="/wxLoginRemoteService"
          class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service">
            <ref bean="wxLoginService"/>
        </property>
        <property name="serviceInterface">
            <value>cn.com.do1.component.addressbook.contact.service.IWxLoginService</value>
        </property>
    </bean>

    <bean name="/departmentRemoteService"
          class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service">
            <ref bean="departmentService"/>
        </property>
        <property name="serviceInterface">
            <value>cn.com.do1.component.addressbook.department.service.IDepartmentService</value>
        </property>
    </bean>

</beans>